@media (max-width: 1400px) {
  .actions-section {
    flex-direction: column;
    gap: 100px !important;
  }
  .actions-section .info {
    max-width: unset !important;
    text-align: center;
    padding: 10px;
  }
}
@media (max-width: 1300px) {
  #services {
    flex-direction: column;
    text-align: center;
    justify-content: center !important;
  }
  #services .service-info {
    max-width: unset;
  }
  .welcome-section .welcome-title {
    padding: 20px !important;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .projects-section .project-cards .project-card {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1000px) {
  section {
    padding: 15px;
  }

  /* Header */
  header #menu-btn {
    display: block !important;
  }
  header nav {
    display: none;
  }

  /* Nav elemanlarını js kısmından yönetebilmek için gerekli class */
  .open-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 75px;
    right: 20px;
    background-color: #323443;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.5s ease;
  }

  /* Hero */
  #hero {
    justify-content: center;
  }
  #hero .hero-content {
    max-width: 400px;
  }
  #hero .hero-content .hero-button-wrapper {
    justify-content: center;
  }

  /* Info Section */
  #info-section .top-info {
    flex-direction: column;
  }

  /* Count Section */
  .count-section {
    flex-direction: column;
    text-align: center;
  }
  .count-section :where(.count-section-left, .count-section-right) {
    width: 100%;
  }
  .count-section .count-section-left .count-wrapper {
    max-width: 600px !important;
    min-width: 400px;
    margin: auto;
  }
  .count-section .count-section-right img {
    max-width: 500px !important;
    width: 80%;
  }

  /* Donate Section */
  .dontaions-section .donate-section-info {
    width: 90% !important;
  }
  .dontaions-section .donate-cards {
    width: 90% !important;
  }
}

@media (max-width: 800px) {
  #services .windows {
    grid-template-columns: 1fr;
    place-items: center;
  }
  #services .windows .window {
    width: 600px;
  }
  .projects-section .project-cards .project-card .card-image {
    width: 100%;
  }
  .projects-section .project-cards .project-card .card-image img {
    width: 100%;
  }
  .projects-section .project-cards .project-card .project-info h1 {
    font-size: 30px !important;
  }
}

@media (max-width: 640px) {
  footer .footer-links .footer-link form {
    flex-direction: column;
  }
  footer .footer-links .footer-link form :where(input, button) {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #services .windows .window {
    width: 400px;
  }
  #arge-section .arge-cards .arge-card video {
    width: 100%;
  }
}
