@media (max-width:1300px) {
     #services {
    flex-direction: column;
    text-align: center;
    justify-content: center !important;
  }
   #services .service-info {
    max-width: unset;
  }
}





@media (max-width: 1000px) {
  /* Header */
  header #menu-btn {
    display: block !important;
  }
  header nav {
    display: none;
  }

  /* Nav elemanlarını js kısmından yönetebilmek için gerekli class */
  .open-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 75px;
  right: 20px;
  background-color: #323443;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.5s ease;
  }

  /* Hero */
   #hero {
    justify-content: center;
  }
   #hero .hero-content {
   max-width: 400px;
   }
   #hero .hero-content .hero-button-wrapper {
    justify-content: center;
   }
}
